[project]
	description = zVM system management tool kit in python
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SharpRazor
[access "refs/for/refs/*"]
	read = group user/SharpRazor
	push = group user/SharpRazor
	label-Code-Review = -2..+2 group user/SharpRazor
	label-Verified = -1..+1 group user/SharpRazor
	rebase = group user/SharpRazor
	removeReviewer = group user/SharpRazor
	submit = group user/SharpRazor
[access "refs/heads/*"]
	read = group user/SharpRazor
	create = group user/SharpRazor
	push = +force group user/SharpRazor
	pushMerge = group user/SharpRazor
[access "refs/tags/*"]
	push = group user/SharpRazor
	push = +force group user/SharpRazor
